.Trips__container {
    display: flex;
    padding: 16px;
    background-color: white;
    max-width: 80%;
    margin-bottom: 32px;
    border: 1px solid gray;
    border-radius: 16px;
    flex-direction: column;
}
.Trip_item {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    flex-grow: 100;
    align-items: stretch;
}

.Route__text {
    display: flex;
    text-align: center;
    font-family: Copperplate, serif;
    color: #757575;

}
.Driver__text {
    font-family: Copperplate, serif;
    align-self: end;

}
.Vehicle__text {
    font-family: Copperplate, serif;
    letter-spacing: 2px;
    align-self: end;
    color: #757575;

}
.Book_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Book__plus_minus {
    margin-top: 16px;
    padding: 8px;
    font-size: 40px;
    color: #025fee;
}
.Book__btn {
    margin-top: 16px;
    padding: 8px;
    white-space: pre-wrap;
    font-family: Copperplate, serif;
    background-color: #025fee;
    border: 1px solid gray;
    font-size: 16px;
    border-radius: 16px;
    color: white;
}
.Divider{
    margin-top: 16px;
    width: 100%;
    background-color: gray;
    height: 1px;
}
.Note__text {
    margin-top: 16px;
    font-style: italic;
    font-size: 12px;
    letter-spacing: 2px;
    color: #9d9d9d;

}
.Trip_item_left{
    display: flex;
    flex: 0.4;
    flex-direction: column;
}
.time_price_container{
    display: flex;
    flex-direction: row;
}
.Trip_item_center{
    flex: 0.2;
    display: flex;
    flex-direction: column;
}
.Trip_item_right{
    flex: 0.4;
    display: flex;
    flex-direction: column;
}

.Time{
    font-family: Copperplate, serif;
    color: #000000;
}
.Places_text{
    font-family: Copperplate, serif;
    margin-left: 16px;
    color: #000000;
}
.Trip_item_price{
    font-family: Copperplate, serif;
    color: #dc0c5d;
    margin-left: 16px;
}

.circular_image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display:inline-block;
    vertical-align:middle;
}

.MyPhoneContainer {
    display: flex;
    flex-direction: column;
}

.Phone_input{
    margin-top: 16px;
    padding: 8px;
    font-family: Copperplate, serif;
    border: 1px solid gray;
    font-size: 16px;
    border-radius: 16px;
    color: gray;

}
.PhoneError{
    color: red;
    font-size: 12px;
}


