rules_version = '2';
service cloud.firestore {

  // Determine if the value of the field "key" is the same
  // before and after the request.
  function unchanged(key) {
    return (key in resource.data)
      && (key in request.resource.data)
      && (resource.data[key] == request.resource.data[key]);
  }

  match /databases/{database}/documents {
     match /trips/{document=**} {
       allow create,read, update;
       }

    match /places/{document=**} {
          allow create,read, update: if request.auth != null;
        }

    match /users/{document=**} {
          allow create,read, update: if request.auth != null;
        }
    match /vehicles/{document=**} {
          allow create,read, update: if request.auth != null;
        }

  }
}
